<article class="box post post-excerpt">
  <header>
    <h2>ember-cordova-keyboard</h2>
  </header>
  <hr>
  <h3>Summary</h3>

  <p>Fire events related to the native device’s keyboard display. Currently
  very beta.</p>

  <h3>Installation</h3>
  <div><pre><code>ember install ember-cordova-keyboard
  </code></pre>
  </div>

  <h3>Usage</h3>

  <p>Service Path:</p>
  <div><pre><code><span class="nx">lookup</span><span class="p">(</span><span class="s1">'service:ember-cordova/keyboard'</span><span class="p">);</span>
  </code></pre>
  </div>

  <p>You may also wish to subscribe to events or toggle the keyboard:</p>

  <div><pre><code><span class="c1">// app/components/fancy-box/component.js</span>
  <span class="kr">import</span> <span class="nx">Ember</span> <span class="nx">from</span> <span class="s1">'ember'</span><span class="p">;</span>

  <span class="kr">const</span> <span class="p">{</span>
    <span class="nx">Component</span><span class="p">,</span>
    <span class="nx">inject</span>
  <span class="p">}</span> <span class="o">=</span> <span class="nx">Ember</span><span class="p">;</span>

  <span class="kr">export</span> <span class="k">default</span> <span class="nx">Component</span><span class="p">.</span><span class="nx">extend</span><span class="p">({</span>
    <span class="na">keyboard</span><span class="p">:</span> <span class="nx">service</span><span class="p">.</span><span class="nx">inject</span><span class="p">(</span><span class="s1">'ember-cordova/keyboard'</span><span class="p">),</span>
    <span class="na">keyboardIsShowing</span><span class="p">:</span> <span class="kc">false</span><span class="p">,</span>

    <span class="nx">didInsertElement</span><span class="p">()</span> <span class="p">{</span>
      <span class="k">this</span><span class="p">.</span><span class="nx">_super</span><span class="p">();</span>

      <span class="k">this</span><span class="p">.</span><span class="nx">get</span><span class="p">(</span><span class="s1">'keyboard'</span><span class="p">).</span><span class="nx">on</span><span class="p">(</span><span class="s1">'keyboardDidShow'</span><span class="p">,</span> <span class="k">this</span><span class="p">.</span><span class="nx">keyboardDidShow</span><span class="p">);</span>
      <span class="k">this</span><span class="p">.</span><span class="nx">get</span><span class="p">(</span><span class="s1">'keyboard'</span><span class="p">).</span><span class="nx">on</span><span class="p">(</span><span class="s1">'keyboardDidHide'</span><span class="p">,</span> <span class="k">this</span><span class="p">.</span><span class="nx">keyboardDidHide</span><span class="p">);</span>
    <span class="p">},</span>

    <span class="nx">willDestroyElement</span><span class="p">()</span> <span class="p">{</span>
      <span class="k">this</span><span class="p">.</span><span class="nx">get</span><span class="p">(</span><span class="s1">'keyboard'</span><span class="p">).</span><span class="nx">off</span><span class="p">(</span><span class="s1">'keyboardDidShow'</span><span class="p">,</span> <span class="k">this</span><span class="p">.</span><span class="nx">keyboardDidShow</span><span class="p">);</span>
      <span class="k">this</span><span class="p">.</span><span class="nx">get</span><span class="p">(</span><span class="s1">'keyboard'</span><span class="p">).</span><span class="nx">off</span><span class="p">(</span><span class="s1">'keyboardDidHide'</span><span class="p">,</span> <span class="k">this</span><span class="p">.</span><span class="nx">keyboardDidHide</span><span class="p">);</span>

      <span class="k">this</span><span class="p">.</span><span class="nx">_super</span><span class="p">();</span>
    <span class="p">},</span>

    <span class="nx">keyboardDidShow</span><span class="p">()</span> <span class="p">{</span>
      <span class="k">this</span><span class="p">.</span><span class="nx">set</span><span class="p">(</span><span class="s1">'keyboardIsShowing'</span><span class="p">,</span> <span class="kc">true</span><span class="p">);</span>
    <span class="p">},</span>

    <span class="nx">keyboardDidHide</span><span class="p">()</span> <span class="p">{</span>
      <span class="k">this</span><span class="p">.</span><span class="nx">set</span><span class="p">(</span><span class="s1">'keyboardIsShowing'</span><span class="p">,</span> <span class="kc">false</span><span class="p">);</span>
    <span class="p">}</span>
  <span class="p">});</span>
  </code></pre>
  </div>

  <h4>Example template usage</h4>
  <div><pre><code>
  <span class="c">\{{! app/components/fancy-box/template.hbs }}</span>

  <span class="k">\{{#if</span> <span class="err">!</span><span class="nv">keyboardIsShowing</span><span class="k">}}</span>
    click inside to type
  <span class="k">\{{/if}}</span>
  <span class="nt">&lt;input</span> <span class="na">type=</span><span class="s">'text'</span><span class="nt">&gt;</span>
  </code></pre>
  </div>
</article>
<a href="#" onclick="scrollToTop();return false">&uarr;</a>
