{{!-- The following component displays Ember's default welcome message. --}}
<!-- {{welcome-page}} -->
{{!-- Feel free to remove this! --}}
<!-- OM -->

<!-- Theme-1 -->
<!-- <nav class="menu" tabindex="0">
	<div class="smartphone-menu-trigger"></div>
  <header class="avatar">
		<img src="https://avatars1.githubusercontent.com/u/8960029?v=4&s=400" />
    <h2>ember-cordova</h2>
  </header>
	<ul>
    <li tabindex="0" class="icon-dashboard"><span>Home</span></li>
    <li tabindex="0" class="icon-customers"><span>Installation</span></li>
    <li tabindex="0" class="icon-users"><span>Workflow</span>
      <li tabindex="0" class="icon-customers"><span>Project Setup</span></li>
      <li tabindex="0" class="icon-users"><span>Building</span></li>
      <li tabindex="0" class="icon-settings"><span>Livereload</span></li>
      <li tabindex="0" class="icon-settings"><span>Icon & Splash</span></li>
      <li tabindex="0" class="icon-settings"><span>Hooks</span></li>
      <li tabindex="0" class="icon-settings"><span>Default WebViews</span></li>
    </li>
    <li tabindex="0" class="icon-settings"><span>CORE API</span>
      <li tabindex="0" class="icon-customers"><span>CLI Reference</span></li>
      <li tabindex="0" class="icon-users"><span>Platform Service</span></li>
    </li>
    <li tabindex="0" class="icon-settings"><span>Plugins</span>
      <li tabindex="0" class="icon-customers"><span>ember-cordova-events</span></li>
      <li tabindex="0" class="icon-users"><span>ember-cordova-splash</span></li>
      <li tabindex="0" class="icon-settings"><span>ember-cordova-keyboard</span></li>
    </li>
    <li tabindex="0" class="icon-dashboard"><span>Help</span></li>
    <li tabindex="0" class="icon-dashboard"><span>Version Notes</span></li>
    <li tabindex="0" class="icon-dashboard"><span>Github</span></li>
  </ul>
</nav>

<main>
  <div class="helper">
    RESIZE THE WINDOW
		<span>Breakpoints on 900px and 400px</span>
    {{outlet}}
  </div>
</main> -->

<!-- Theme-2 -->

<!--
<div class="container">
<nav>
		<ul class="mcd-menu">
			<li>
				<a href="">
					<i class="fa fa-home"></i>
					<strong>Home</strong>
					<small>sweet home</small>
				</a>
			</li>
			<li>
				<a href="" class="active">
					<i class="fa fa-edit"></i>
					<strong>About us</strong>
					<small>sweet home</small>
				</a>
			</li>
			<li>
				<a href="">
					<i class="fa fa-gift"></i>
					<strong>Features</strong>
					<small>sweet home</small>
				</a>
			</li>
			<li>
				<a href="">
					<i class="fa fa-globe"></i>
					<strong>News</strong>
					<small>sweet home</small>
				</a>
			</li>
			<li>
				<a href="">
					<i class="fa fa-comments-o"></i>
					<strong>Blog</strong>
					<small>what they say</small>
				</a>
				<ul>
					<li><a href="#"><i class="fa fa-globe"></i>Mission</a></li>
					<li>
						<a href="#"><i class="fa fa-group"></i>Our Team</a>
						<ul>
							<li><a href="#"><i class="fa fa-female"></i>Leyla Sparks</a></li>
							<li>
								<a href="#"><i class="fa fa-male"></i>Gleb Ismailov</a>
								<ul>
									<li><a href="#"><i class="fa fa-leaf"></i>About</a></li>
									<li><a href="#"><i class="fa fa-tasks"></i>Skills</a></li>
								</ul>
							</li>
							<li><a href="#"><i class="fa fa-female"></i>Viktoria Gibbers</a></li>
						</ul>
					</li>
					<li><a href="#"><i class="fa fa-trophy"></i>Rewards</a></li>
					<li><a href="#"><i class="fa fa-certificate"></i>Certificates</a></li>
				</ul>
			</li>
			<li>
				<a href="">
					<i class="fa fa-picture-o"></i>
					<strong>Portfolio</strong>
					<small>sweet home</small>
				</a>
			</li>
			<li>
				<a href="">
					<i class="fa fa-envelope-o"></i>
					<strong>Contacts</strong>
					<small>drop a line</small>
				</a>
			</li>
			<li class="float">
				<a class="search">
					<input type="text" value="search ...">
					<button><i class="fa fa-search"></i></button>
				</a>
				<a href="" class="search-mobile">
					<i class="fa fa-search"></i>
				</a>
			</li>
		</ul>
	</nav>
    {{outlet}}
</div> -->
<!--
<div class="helper">
  RESIZE THE WINDOW
  <span>Breakpoints on 900px and 400px</span>

</div> -->



<!-- Theme-4 -->


<!-- Content -->
  <!-- <div id="content">
    <div class="inner">

        <article class="box post post-excerpt">
          <header>
            <h2><a href="#">Welcome Vishu</a></h2>
            <p>A free, UP</p>
          </header>

        </article>

    </div>
  </div>

  <div id="sidebar">

      <h1 id="logo"><a href="#">Ember Cordova</a></h1>

      <nav id="nav">
        <ul>
          <li class="current"><a href="#">Home</a></li>
          <li><a href="#">Installation</a></li>
        </ul>
        <section>
          <header>
            <h2>Workflow</h2>
          </header>
          <ul>
            <li><a href="#">Project Setup</a></li>
            <li><a href="#">Building</a></li>
            <li><a href="#">Livereload</a></li>
            <li><a href="#">Icon & Splash</a></li>
            <li><a href="#">Hooks</a></li>
            <li><a href="#">Default WebViews</a></li>
          </ul>
        </section>
        <section>
          <header>
            <h2>CORE API</h2>
          </header>
          <ul>
            <li><a href="#">CLI Reference</a></li>
            <li><a href="#">Platform Service</a></li>
          </ul>
        </section>
        <section>
          <header>
            <h2>Plugins</h2>
          </header>
          <ul>
            <li><a href="#">ember-cordova-events</a></li>
            <li><a href="#">ember-cordova-splash</a></li>
            <li><a href="#">ember-cordova-keyboard</a></li>
          </ul>
        </section>
        <section>
          <ul>
            <li><a href="#">Help</a></li>
            <li><a href="#">Version Notes</a></li>
            <li><a href="#">Github</a></li>
          </ul>
        </section>
      </nav>

      <ul id="copyright">
        <li>&copy; Vishu.</li><li>Design: <a href="javascript;">Ember Cordova</a></li>
      </ul>

  </div> -->

<!-- OM -->
{{app-wrapper}}
<!-- <div style="border:11px solid red; padding:10px; height:200px; width:100px;">
OMOM
</div> -->
