<article class="box post post-excerpt">
  <header>
    <h2>ember-cordova</h2>
  </header>
  <hr>
  <p>ember-cordova provides a pipeline &amp; tooling for extending Ember.js &amp; standalone Glimmer applications with Cordova.</p>

  <p>Once {{#link-to 'installation' class="wrapper"}}installed{{/link-to}}, building is as simple as:</p>

  <div><pre><code>ember cdv:build --platform=ios
ember cdv:build --platform=android
  </code></pre>
  </div>

  <p>The project includes {{#link-to 'workflow.livereload' class="wrapper"}}on-device livereload{{/link-to}}, a {{#link-to 'core.cli-reference' class="wrapper"}}CLI{{/link-to}} for building &amp; deploying to devices, automated {{#link-to 'workflow.icon-and-splash' class="wrapper"}}icon/splash generation{{/link-to}}, a {{#link-to 'core.platform-service' class="wrapper"}}device info service{{/link-to}} and a growing ecosystem of plugins.</p>

  <p>ember-cordova maintained by <a class="wrapper" target="_blank" href="https://isleofcode.com">Isle of Code</a> in Toronto, with a community of contributors.</p>

  <p>See the {{#link-to 'installation' class="wrapper"}}Installation{{/link-to}} guides to get started, or watch <a  class="wrapper" target="_blank" href="https://www.youtube.com/embed/Ry639hvWKbM">Hybrid/Ember best practices from EmberConf 2016</a>.</p>
</article>
<!-- <a href="#" onclick="scrollToTop();return false">&uarr;</a> -->
